<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="main-content">
    {{>header}}
    {{msg}}
    </div>
    {{>footer}}
</body>
</html>